.full-description figure{
	display: block;
	margin-bottom: 15px;
}
.full-description figure img{
	max-width: 100%;
}
.main-contents .main-contents-top p{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.3;
	margin-bottom: 20px;
}
.btn-blue{
	width: 128px;
	height: 38px;
	line-height: 36px;
	font-weight: 600;
	background: #2752ff;
	color: #fff;
	text-align: center;
	display: block;
	border-radius: 4px;
	margin-bottom: 25px;
}
.btn-blue:hover{
	color: #fff;
	background: #0030f3;
}
.btn-border-gray{
	border: 2px solid #3D3D66;
	color: #3D3D66;
	height: 38px;
	line-height: 34px;
	border-radius: 6px;
	padding: 0 20px;
	display: inline-block;
}
.btn-border-gray:hover{
	border-color: #171726;
	color: #171726;
}
.main-sidebar .main-sidebar-product{
	border-color: blue;
}
.main-sidebar .main-sidebar-product:hover{
	border-color: darkblue;
}
.play_button{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 54px;
	line-height: 50px;
	border: 2px solid #fff;
	background: #000;
	width: 109px;
	text-align: center;
	display: block;
	z-index: 2;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
.play_button i,
.play_button span{
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}
.play_button span{
	margin-left: 5px;
}
.play_button:hover{
	background: #2BDE73;
}
.parallax-info{
	background: #F7F7F9;
}
.banner-wrap .top-heading{
	width: 100%;
	float: none;
	text-align: center;
	margin-bottom: 30px;
}
.top-heading p a{
	display: inline-block;
	vertical-align: middle;
	color: #80809E;
	margin: 0 10px;
}
.top-heading p i,
.top-heading p span{
	display: inline-block;
	vertical-align: middle;
}
#product-page #main-wrap .parallax-info .container{
	width: 1110px;
}
.banner-wrap .banner-video{
	width: 685px !important;
	padding-bottom: 0 !important;
	height: 385px;
	margin-bottom: 25px;
	float: none;
}
.banner-wrap .banner-video-outer{
	float: left;
}
.banner-wrap .banner-video-info{
	width: 350px;
	margin-top: 80px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	padding-left: 100px;
	min-height: 100px;
	position: relative;
}
.banner-video-left{
	width: 100px;
	position: absolute;
	left: 0;
	top: 0;
}
.banner-video-outer-img{
	width: 60px;
	height: 60px;
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 20px;
}
.banner-video-outer-img img{
	width: 100%;
	display: block;
}
.banner-video-outer-sec{
	position: relative;
	min-height: 100px;
	width: 685px;
	padding: 0 0 30px 140px;
}
.banner-video-outer-left{
	position: absolute;
	left: 0;
	top: 0;
	width: 140px;
}
.banner-video-outer-left h3{
	margin: 0;
	font-size: 45px;
}
.banner-video-outer-left p{
	margin: 0;
	font-size: 16px;
}
.banner-video-outer-info p{
	font-size: 18px;
	line-height: 1.5;
	font-weight: 300;
}
.banner-video-outer-info p a,
.banner-video-outer-info p span,
.banner-video-outer-info p i{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}
.banner-video-outer-info p a{
	color: #3D3D66;
	border: 1px solid #3D3D66;
	padding: 2px 15px 2px 5px;
	border-radius: 2px;
	margin-left: 10px;
}
.banner-video-outer-info p a:hover{
	opacity: 0.7;
}
.banner-video-outer-info p span{
	margin-left: 10px;
}
.banner-video-left h3{
	font-size: 30px;
	margin: 0;
	font-weight: 600;
}
.banner-video-left p{
	margin: 0;
}
.banner-wrap .banner-video-info .banner-video-right h4{
	font-size: 18px;
	line-height: 1.3;
	color: #353535;
	margin-bottom: 10px;
}
.banner-wrap .banner-video-info .banner-video-right p{
	font-weight: normal;
	margin-bottom: 10px;
}
.banner-wrap .banner-video-info .banner-video-right a{
	margin-left: 15px;
	font-weight: 500;
	color: #2752FF;
}
.banner-wrap .banner-video-info .banner-video-right p a:first-child{
	margin-left: 0;
}