body, input, select, textarea {
  font-family: 'Roboto', sans-serif;
}

a:hover, a:focus {
  text-decoration: none;
}

#product-page #header-wrap {
  background: rgba(112, 192, 208, 0.4);
}

#product-page .header-outer-wrap.active #header-wrap.active .grid-btn b {
  background-image: url(../img/grid-btn.png);
}
#product-page .header-outer-wrap.active #header-wrap.active .grid-btn i {
  color: #a1d2ff;
}
#product-page .header-outer-wrap.active #header-wrap.active .grid-btn:hover b {
  background-image: url(../img/grid-btnHover.png);
}
#product-page .header-outer-wrap.active #header-wrap.active .grid-btn:hover i {
  color: #000;
}

.top-left-shadow {
  top: 20px;
  right: 17px;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
}

.grid-btn i {
  color: #fff;
}
.grid-btn b {
  background-image: url(../img/grid-btn3.png);
}

.banner-wrap {
  min-height: 762px;
  margin-bottom: 68px;
}

#product-page .banner-wrap .container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.banner-shutal {
  float: right;
  width: 575px;
  color: #fff;
  padding-top: 50px;
}
.banner-shutal h1 {
  margin: 0 0 25px;
  font-size: 56px;
  font-weight: 100;
  position: relative;
  padding-bottom: 20px;
  letter-spacing: -2px;
}
.banner-shutal h1:before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 1px;
  width: 200px;
  background: #fff;
}
.banner-shutal p {
  margin: 0px 0px 27px;
  font-size: 21px;
  line-height: 31px;
}
.banner-shutal .red-btn {
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  background: #e91e63;
  color: #fff;
  padding: 0px 8px;
  display: inline-block;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.main-contents-fig {
  position: relative;
}
.main-contents-fig img {
  position: relative;
  z-index: 1;
}
.main-contents-fig .top-left-shadow {
  top: 31px;
}

.main-sidebar-rt img {
  max-width: 100%;
}

.main-sidebar .main-sidebar-rt span {
  right: 10px;
  top: 10px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  left: auto;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.main-sidebar .main-sidebar-rt span b {
  font-size: 20px;
}

.tab-info .top-heading-sec {
  margin-bottom: 24px;
  padding-bottom: 0;
  position: relative;
}
.tab-info .top-heading-sec h2 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 10px;
}
.tab-info .top-heading-sec p {
  font-size: 12px;
}
.tab-info .top-heading-sec .star-sec {
  position: absolute;
  right: 0;
  top: 10px;
}
.tab-info .top-heading-sec .top-heading-btn {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  color: lightgrey;
  font-size: 12.33px;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
}
.tab-info .top-heading-sec .top-heading-btn:hover {
  color: #a2b3bd;
}
.tab-info .top-heading-sec .top-heading-btn i {
  display: inline-block;
  vertical-align: middle;
}

.oxy-section {
  background: url("http://fabhtml.oxygenna.com/assets/images/backgrounds/bg9-notinclude.jpg") 50% 0 no-repeat fixed;
  background-size: 100%;
  height: 345px;
  width: 100%;
  margin: 0 auto;
  padding: 96px 0 0;
}
.oxy-section h2 {
  margin: 0 0 40px;
  font-size: 34px;
  font-weight: 100;
  color: #fff;
}
.oxy-section form {
  position: relative;
  padding-right: 70px;
}
.oxy-section .blue-btn {
  color: #fff;
  background-color: #448aff;
  border: none;
  border-radius: 2px;
  position: relative;
  height: 36px;
  line-height: 36px;
  min-width: 64px;
  text-transform: uppercase;
  padding: 0 8px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  right: 0;
  bottom: 0;
}

.oxy-content {
  max-width: 55%;
}

.oxy-group-outer {
  float: left;
  width: 50%;
  padding-right: 16px;
}

.oxy-group {
  position: relative;
  padding-top: 35px;
}
.oxy-group label {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.oxy-group span {
  position: absolute;
  top: 100%;
  visibility: hidden;
  width: 10px;
  left: 45%;
  height: 2px;
  margin-top: -1px;
  background: #e91e63;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.oxy-group input {
  font-size: 0;
  color: #fff;
  width: 100%;
  border: none;
  height: 30px;
  padding: 4px 0;
  position: relative;
  background: none;
  border-bottom: 1px solid #ccc;
  display: block;
  z-index: 1;
}
.oxy-group input:focus {
  font-size: 16px;
}
.oxy-group input:focus + label {
  bottom: 30px;
  font-size: 12px;
  color: #e91e63;
}
.oxy-group input:focus + label + span {
  left: 0;
  visibility: visible;
  width: 100%;
  z-index: 2;
}
.oxy-group.active label {
  bottom: 30px;
  font-size: 12px;
  color: #e91e63;
}
.oxy-group input {
  font-size: 16px;
}

.main-sidebar h2 {
  font-size: 34px;
  font-weight: 300;
  margin: 0 0 40px;
  color: #000;
  position: relative;
  text-align: center;
  padding-bottom: 14px;
}
.main-sidebar h2:before {
  content: '';
  position: absolute;
  width: 200px;
  height: 1px;
  background: #E91E63;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mockup-wrap {
  padding: 20px 0 30px;
}

.mockup-top h2 {
  margin-bottom: 20px;
}
.mockup-top p {
  margin: 0 0 20px;
}
.mockup-top p a {
  color: #ed2528;
}

.mockup-inner {
  margin: 0 -15px;
}

.mockup-sec {
  float: left;
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.mockup-fig {
  position: relative;
  margin-bottom: 18px;
}
.mockup-fig img {
  width: 100%;
}
.mockup-fig .mockup-round {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 79px;
  height: 79px;
  padding-top: 18px;
  background: #f77c6d;
  border-radius: 100%;
  overflow: hidden;
  color: #fff;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.mockup-fig .mockup-round span {
  font-style: italic;
  font-size: 18px;
}
.mockup-fig .mockup-round i {
  font-size: 12px;
  display: block;
}

.mockup-info {
  min-height: 77px;
  position: relative;
}
.mockup-info h4 {
  margin: 0;
  line-height: 1.36;
  font-weight: normal;
}
.mockup-info h4 a {
  color: #212121;
}
.mockup-info p {
  margin: 0;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.mockup-info p a {
  color: #999;
}

.mockup-btn {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  height: 46px;
  line-height: 46px;
  width: 80%;
  margin: 0 auto;
  background: #4a7fbb;
  border-radius: 4px;
}
.mockup-btn:hover {
  color: #fff;
  background: #73a2d7;
}

.banner-wrap .banner-video video {
  z-index: 1;
}

.banner-wrap .banner-video img {
  z-index: 2;
}
