body {
  background: #f5f8fa;
}

a:hover, a:focus {
  text-decoration: none;
}

/* Profile banner sec
============================= */
.profile-banner-wrap img {
  width: 100%;
}

#main-wrap.profile-main-wrap {
  padding: 0 0 30px;
}
#main-wrap.profile-main-wrap .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1190px;
}
#main-wrap.profile-main-wrap .row {
  margin: 0 -5px;
}
#main-wrap.profile-main-wrap .row [class*="col-"] {
  padding: 0 5px;
}

#main .join-sec {
  position: absolute;
  right: 15px;
  margin-bottom: 20px;
  bottom: 100%;
  padding: 0 11px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  height: 34px;
  line-height: 34px;
  background: rgba(41, 47, 51, 0.6);
  border-radius: 4px;
  box-shadow: 0 0 3px #fff;
}

.profile-tweet-tab {
  border-top: 1px solid #d8e2e8;
  border-bottom: 1px solid #d8e2e8;
  margin-bottom: 10px;
  padding: 10px 0;
}
.profile-tweet-tab a {
  font-size: 14px;
  color: #ccd6dd;
  font-weight: 600;
  padding: 0 15px;
}
.profile-tweet-tab a:hover, .profile-tweet-tab a.active {
  color: #66757f;
}

.profile-sidebar-top {
  padding: 0 10px;
}
.profile-sidebar-top h2 {
  font-size: 28px;
  margin: 0 0 4px;
  font-weight: 300;
}
.profile-sidebar-top p {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 1.428;
  color: #66757f;
}
.profile-sidebar-top p a {
  font-weight: 600;
  color: #0084b4;
}
.profile-sidebar-top p span, .profile-sidebar-top p i {
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
}

.profile-img {
  max-width: 210px;
  border: 5px solid #fff;
  background: #0084b4;
  border-radius: 10px;
  position: relative;
  margin: -150px 0 11px;
}
.profile-img img {
  width: 100%;
}

.profile-sidebar-search {
  border: 1px solid #abd5e5;
  background: #eaf3f7;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.profile-sidebar-search input {
  height: 43px;
  color: #0084b4;
  font-size: 14px;
  background: #fff;
  border: 1px solid #a3d1e3;
  border-radius: 2px;
  padding: 0 10px;
  display: block;
  width: 100%;
}

.profile-sidebar-follow {
  border: 1px solid #d8e2e8;
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.profile-sidebar-follow h4 {
  margin: 0 0 17px;
  font-size: 17px;
  font-weight: 300;
  color: #292f33;
}
.profile-sidebar-follow h4 a {
  font-size: 12px;
  color: #0084b4;
}
.profile-sidebar-follow p {
  margin: 0;
}
.profile-sidebar-follow p a {
  font-size: 12px;
  color: #0084b4;
}

.profile-friend-sec {
  min-height: 48px;
  position: relative;
  padding-left: 60px;
  margin-bottom: 15px;
}
.profile-friend-sec .profile-friend-fig {
  position: absolute;
  left: 0;
  top: 0;
}
.profile-friend-sec .profile-friend-fig img {
  width: 100%;
}

.profile-friend-info h5 {
  font-size: 14px;
  color: #292f33;
  margin: 0 0 4px;
}
.profile-friend-info h5 a {
  font-weight: 300;
  color: #8899a6;
}
.profile-friend-info .follow-btn {
  display: inline-block;
  height: 29px;
  line-height: 27px;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  padding: 0 10px;
  background: #ffffff;
}
.profile-friend-info .follow-btn span, .profile-friend-info .follow-btn i {
  display: inline-block;
  color: #55acee;
}
.profile-friend-info .follow-btn i {
  font-size: 18px;
  margin-right: 7px;
  vertical-align: -4px;
}
.profile-friend-info .follow-btn span {
  color: #292f33;
  font-size: 13px;
}
.profile-friend-info .follow-btn:hover {
  background: #fefefe;
}
.profile-friend-info:hover .profile-close-btn {
  display: block;
}

.profile-sidebar-link ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile-sidebar-link a {
  color: #0084b4;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
}
.profile-sidebar-link a:hover {
  color: #11a2d7;
}

.intro {
  font-size: 12px;
  color: #ccd6dd;
  margin: 0;
  line-height: 1.25;
  padding: 15px;
}
.intro a {
  color: #ccd6dd;
  margin-left: 10px;
}
.intro a:hover {
  color: #000;
}

.profile-content-post {
  border: 1px solid #d8e2e8;
  background: #ffffff;
  margin-bottom: 10px;
  border-radius: 6px;
}
.profile-content-post p {
  font-size: 13px;
  color: #8899a6;
  margin: 0 0 24px;
  padding: 15px 15px 0;
}
.profile-content-post h4 {
  margin: 0 0 22px;
  padding: 0 15px;
  font-size: 28px;
  color: #333;
  line-height: 1.178;
  font-weight: normal;
}
.profile-content-post h4 a {
  color: #0084b4;
}
.profile-content-post h5 {
  font-size: 16px;
  color: #333;
  margin: 0 0 20px;
  padding: 0 15px;
  line-height: 1.375;
}
.profile-content-post h5 a {
  color: #0084b4;
}
.profile-content-post .profile-content-post-img img {
  width: 100%;
  display: block;
}
.profile-content-post .profile-post-sec {
  padding: 14px 20px 12px;
}
.profile-content-post .profile-post-left {
  float: left;
}
.profile-content-post .profile-post-right {
  float: right;
}
.profile-content-post .profile-post-right a {
  color: #0084b4;
  font-size: 13px;
}
.profile-content-post .profile-post-info,
.profile-content-post .profile-post-drop {
  float: left;
}
.profile-content-post .profile-post-info a, .profile-content-post .profile-post-info span, .profile-content-post .profile-post-info i {
  display: inline-block;
  vertical-align: middle;
}
.profile-content-post .profile-post-info a {
  font-size: 13px;
  color: #8899a6;
  margin-right: 25px;
}
.profile-content-post .profile-post-info i {
  color: #ccd6dd;
  margin-right: 5px;
}
.profile-content-post .profile-post-drop {
  position: relative;
  line-height: 1;
}
.profile-content-post .profile-post-drop i {
  color: #ccd6dd;
  cursor: pointer;
}
.profile-content-post .profile-post-drop .dropdown-menu {
  left: auto;
  right: 0;
}

.profile-reboot-sec {
  padding: 15px 15px 10px;
}
.profile-reboot-sec img, .profile-reboot-sec span {
  display: inline-block;
  vertical-align: middle;
}
.profile-reboot-sec span {
  font-size: 11px;
  color: #8899a6;
  text-transform: uppercase;
  margin-left: 6px;
}

.profile-boot-sec {
  padding: 0 15px;
  margin-bottom: 15px;
}
.profile-boot-sec span, .profile-boot-sec img, .profile-boot-sec a {
  display: inline-block;
  vertical-align: middle;
}
.profile-boot-sec span {
  font-size: 15px;
  color: #0084b4;
}
.profile-boot-sec a {
  color: #8899a6;
  font-size: 13px;
}

.profile-tweet-sec {
  text-align: center;
  position: relative;
  padding: 6px 0;
}
.profile-tweet-sec:before {
  content: '';
  width: 100%;
  left: 0;
  top: 50%;
  height: 1px;
  background: #ccc;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.profile-tweet-sec img {
  padding: 0 10px;
  background: #f5f8fa;
  position: relative;
}

.profile-tweet-line {
  padding-top: 9px;
}

.profile-tweet-left {
  float: left;
}
.profile-tweet-left a {
  float: left;
  line-height: 1.1;
  padding: 0 15px 7px;
  border-bottom: 4px solid transparent;
}
.profile-tweet-left a:hover, .profile-tweet-left a.active {
  border-bottom-color: #0084b4;
}
.profile-tweet-left a:hover i, .profile-tweet-left a.active i {
  color: #66757f;
}
.profile-tweet-left span {
  display: block;
  font-size: 11px;
  color: #66757f;
}
.profile-tweet-left i {
  font-style: normal;
  font-size: 22px;
  color: #0084b4;
}

.profile-tweet-right {
  float: right;
  margin-right: 30px;
}

.profile-tweet-right-btn,
.profile-tweet-right-info {
  float: left;
}

.profile-tweet-right-btn {
  font-size: 15px;
  color: #fff;
  background: #53a9ea;
  border: 1px solid #3b88c3;
  border-radius: 4px;
  padding: 0 15px;
  height: 35px;
  margin-right: 10px;
  line-height: 33px;
}
.profile-tweet-right-btn:hover {
  background: #fff;
}

.profile-tweet-right-info {
  position: relative;
  padding-top: 6px;
}
.profile-tweet-right-info i {
  cursor: pointer;
}
.profile-tweet-right-info .dropdown-menu {
  left: auto;
  right: 0;
}

.profile-sidebar-magic {
  margin: 30px 0;
}

.magic-btn {
  display: block;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 36px;
  background: #328dc7;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 10px;
}
.magic-btn i, .magic-btn img, .magic-btn span {
  display: inline-block;
  vertical-align: middle;
}
.magic-btn i {
  margin-right: 6px;
}
.magic-btn span {
  font-size: 14px;
  font-weight: 600;
}
.magic-btn:hover {
  color: #fff;
}

.magic-follow-btn {
  display: inline-block;
}
.magic-follow-btn i, .magic-follow-btn span {
  display: inline-block;
  vertical-align: middle;
}
.magic-follow-btn i {
  color: #8899a6;
}
.magic-follow-btn span {
  font-size: 14px;
  color: #267ec0;
}

.profile-close-btn {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 5px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  display: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.profile-close-btn i {
  margin-top: 11px;
}

.tweet-person-sec {
  padding: 20px 18px;
  margin: 0 -15px -15px;
  border-top: 1px solid #e1e8ed;
  background: #f5f8fa;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.tweet-person-sec span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.flex-module {
  background-color: #fff;
  border: 1px solid #e1e8ed;
  padding: 15px;
  line-height: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.flex-module-inner {
  color: #8899a6;
  font-size: 12px;
}
.flex-module-inner ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.flex-module-inner .Footer-item {
  float: left;
  padding-right: 8px;
  color: #8899a6;
}
.flex-module-inner .Footer-link {
  color: #8899a6;
}

.flex-module-outer {
  padding: 15px;
  background: #f5f8fa;
  margin: 10px -15px -15px;
}
.flex-module-outer a {
  color: #4c92cc;
}

.profile-sidebar-video {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  background: #fff;
}

.profile-sidebar-video-top {
  position: relative;
  margin-bottom: 10px;
}
.profile-sidebar-video-top p {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  color: #66757f;
}
.profile-sidebar-video-top i {
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #8899a6;
}

.profile-sidebar-video-mid {
  margin-bottom: 10px;
}
.profile-sidebar-video-mid img {
  width: 100%;
}

.profile-sidebar-video-bot {
  position: relative;
  padding-right: 70px;
}
.profile-sidebar-video-bot .btna {
  position: absolute;
  right: 0;
  top: 50%;
  text-align: center;
  border-radius: 3px;
  width: 60px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #1da1f2;
  background: #fff;
  color: #1da1f2;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.profile-sidebar-video-info h4 {
  margin: 0;
  font-size: 18px;
  color: #000;
}
.profile-sidebar-video-info p {
  margin: 0;
  font-size: 16px;
  color: #667583;
}

.edit-profile-btn {
  width: 110px;
  height: 36px;
  border: 1px solid #e1e8ed;
  background: #f7f9fb;
  color: #66757f;
  text-align: center;
  line-height: 34px;
  position: absolute;
  left: 100%;
  top: 9px;
  border-radius: 3px;
}

.profile-content .block-inner {
  padding: 15px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #d8e2e8;
  margin-bottom: 10px;
}

.feed-page .block-info.block-info-in .block-add {
  padding: 0;
}
.feed-page .block-info.block-info-in .block-add:hover {
  background: none;
}

.block-info .block-person-info .rating-left-sec {
  width: 160px;
}

.feed-page .block-info.block-info-in .block-person-info .box-rating-sec .rating-right-sec {
  width: 348px;
}

.block-info .block-post .rating-sec.box-rating-sec .feed-heading-sec {
  padding-left: 57px;
}

.cart-menu-btn, .cart-menubtn {
  width: 50px;
}

.feed-page .feed-heading-left h2 {
  font-size: 16px;
}

.feed-page .feed-heading-left p i {
  font-size: 21px;
}

.block-info .block-post .rating-right-sec p em {
  font-size: 12px;
}

.block-textarea-outer {
  padding: 0;
  background: none;
  margin-bottom: 10px;
}
