/*@media screen and (min-width: 1400px) {
  .dr-main-wrapper .container {
    width: 1370px;
  }
}
@media screen and (min-width: 1600px) {
  .dr-main-wrapper .container {
    width: 1570px;
  }

}*/
input#ip-desc::-webkit-input-placeholder ,
input#ip-desc2::-webkit-input-placeholder ,
input#ip-title::-webkit-input-placeholder {
    color: #e1e8ed;
}
	.q-mark {
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: #d1d1d1;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    float: right;
    color: white;
    font-size: 12px;
}
.step3-main .video-wrap {
	margin-top: 10px;
	}
.video-tooltip .col-lg-2{
	margin: 10px 0px;
	padding: 0px;
}
.col-lg-12.video-tooltip {
    padding-right: 0px;
    padding-left: 0px;
}
.right {
    font-size: 12px;
    font-family: 'robotomedium';
    margin-right: 10px;
    text-indent: 0px;
    text-align: right;
    padding-right: 7px;
    text-indent: -2px;
}

.remove-padding{
	padding-left: 0px;
}
.step3-main .col-sm-8 {
	background: #fefefe;
	}
@media screen and (min-width: 1600px) {
  .dr-main-wrapper .container {
    width: 1600px;
  }
  #ip-desc{
      padding-left: 95px;
  }

  #ip-desc2{
 		padding-left: 0px;
  }

	.step2-main .col-sm-8 , .step3-main .col-sm-8 {
		padding: 0 161.67px;
	}
	.right-with-video {
    margin-top: 20px; 
	}
.step2-main .col-sm-8, .step3-main .col-sm-8 {
    width: 60.66667%;
}
.step3-main .col-sm-4 {
    width: 39.33333%;
    padding-right: 6%;
}
.step2-main .col-sm-4{
   width: 39.33333%;
}
.inner-upload {
    height: 267.55px;
}
.border-dot{
  height: 291.55px;
}
[for="upload-video"] {
    margin-top: 10px;
}
}